In [2]:
#LAB PART 1

import cairo
import numpy
 
# A simple function to display an image in an ipython notebook
def nbimage( data ):
    from IPython.display import display, Image
    from PIL.Image import fromarray
    from StringIO import StringIO
 
    s = StringIO()
    fromarray( data ).save( s, 'png' )
    display( Image( s.getvalue() ) )
 
WIDTH = 512
HEIGHT = 288
 
# this is a numpy buffer to hold the image data
data = numpy.zeros( (HEIGHT,WIDTH,4), dtype=numpy.uint8 )
 
# this creates a cairo context based on the numpy buffer
ims = cairo.ImageSurface.create_for_data( data, cairo.FORMAT_ARGB32, WIDTH, HEIGHT )
cr = cairo.Context( ims )
 
# draw a blue line
cr.set_source_rgba( 1.0, 0.0, 0.0, 1.0 )
cr.set_line_width( 2.0 )
cr.move_to( 0.0, 0.0 )
cr.line_to( 100.0, 100.0 )
cr.stroke()
 
# display the image
nbimage( data )

ImportError: No module named cairo

In [9]:
import pandas 
import matplotlib.pyplot as plt

df = pandas.read_csv("store_train.csv")

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1
5,6,5,2015-07-31,5651,589,1,1,0,1
6,7,5,2015-07-31,15344,1414,1,1,0,1
7,8,5,2015-07-31,8492,833,1,1,0,1
8,9,5,2015-07-31,8565,687,1,1,0,1
9,10,5,2015-07-31,7185,681,1,1,0,1
10,11,5,2015-07-31,10457,1236,1,1,0,1
11,12,5,2015-07-31,8959,962,1,1,0,1
12,13,5,2015-07-31,8821,568,1,1,0,0
13,14,5,2015-07-31,6544,710,1,1,0,1
14,15,5,2015-07-31,9191,766,1,1,0,1
15,16,5,2015-07-31,10231,979,1,1,0,1
16,17,5,2015-07-31,8430,946,1,1,0,1
17,18,5,2015-07-31,10071,936,1,1,0,1
18,19,5,2015-07-31,8234,718,1,1,0,1
19,20,5,2015-07-31,9593,974,1,1,0,0
20,21,5,2015-07-31,9515,682,1,1,0,1
21,22,5,2015-07-31,6566,633,1,1,0,0
22,23,5,2015-07-31,7273,560,1,1,0,1
23,24,5,2015-07-31,14190,1082,1,1,0,1
24,25,5,2015-07-31,14180,1586,1,1,0,1
25,26,5,2015-07-31,7818,611,1,1,0,1
26,27,5,2015-07-31,13213,1263,1,1,0,1
27,28,5,2015-07-31,7301,663,1,1,0,1
28,29,5,2015-07-31,9411,737,1,1,0,1
29,30,5,2015-07-31,4776,625,1,1,0,1
...,...,...,...,...,...,...,...,...,...
1017179,1086,2,2013-01-01,0,0,0,0,a,1
1017180,1087,2,2013-01-01,0,0,0,0,a,1
1017181,1088,2,2013-01-01,0,0,0,0,a,1
1017182,1089,2,2013-01-01,0,0,0,0,a,1
1017183,1090,2,2013-01-01,0,0,0,0,a,1
1017184,1091,2,2013-01-01,0,0,0,0,a,1
1017185,1092,2,2013-01-01,0,0,0,0,a,1
1017186,1093,2,2013-01-01,0,0,0,0,a,1
1017187,1094,2,2013-01-01,0,0,0,0,a,1
1017188,1095,2,2013-01-01,0,0,0,0,a,1
1017189,1096,2,2013-01-01,0,0,0,0,a,1
1017190,1097,2,2013-01-01,5961,1405,1,0,a,1
1017191,1098,2,2013-01-01,0,0,0,0,a,1
1017192,1099,2,2013-01-01,0,0,0,0,a,1
1017193,1100,2,2013-01-01,0,0,0,0,a,1
1017194,1101,2,2013-01-01,0,0,0,0,a,1
1017195,1102,2,2013-01-01,0,0,0,0,a,1
1017196,1103,2,2013-01-01,0,0,0,0,a,1
1017197,1104,2,2013-01-01,0,0,0,0,a,1
1017198,1105,2,2013-01-01,0,0,0,0,a,1
1017199,1106,2,2013-01-01,0,0,0,0,a,1
1017200,1107,2,2013-01-01,0,0,0,0,a,1
1017201,1108,2,2013-01-01,0,0,0,0,a,1
1017202,1109,2,2013-01-01,0,0,0,0,a,1
1017203,1110,2,2013-01-01,0,0,0,0,a,1
1017204,1111,2,2013-01-01,0,0,0,0,a,1
1017205,1112,2,2013-01-01,0,0,0,0,a,1
1017206,1113,2,2013-01-01,0,0,0,0,a,1
1017207,1114,2,2013-01-01,0,0,0,0,a,1
1017208,1115,2,2013-01-01,0,0,0,0,a,1

In [ ]:
fig, ax = plt.subplots()
#ax.plot_date(df.Date, df.Sales, xdate=True)
import datetime
plt.plot(pandas.to_datetime(df.Date),df.Sales)  #pandas.to_datetime
plt.tight_layout()
plt.show()

In [ ]:
fig, ax = plt.subplots()
#ax.plot_date(df.Date, df.Sales, xdate=True)
import datetime
plt.plot(pandas.to_datetime(df.Date),df.Sales)  #pandas.to_datetime
plt.tight_layout()
plt.show()